.text-center{
    text-align: center
}

#navbar1{
    color: white
}

#navbar2{
    color: white
}

#home{
    color: blue
}

#paragraph{
    color:green
}

#mithu{
    color: blue
    
}

#table{
    text-align: center
}

#reg{
    color: blue
    
}

